* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'VT323', monospace;
}

body {
  background-image: linear-gradient(#001d4d, #00008a, #0000b3, #2a00b3, #025ae8 );
}

.page-header {
  display: flex;
  height: 60px;
  background: linear-gradient(180deg, #730800, #9c0c02, #5c0600);
  align-items: center;
  position: fixed;
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.logo {
  margin-left: 30px;
  color: white;
  font-size: 3rem;
  letter-spacing: 15px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}

.poke-button {
  border: none;
  background-color: red;
  padding: 12px 16px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  font-size: 3rem;
  margin-top: 75px;
  text-transform: capitalize;
  border-style:solid;
  border-color: white;
  border-width: 1px;
}

.show {
  display: block;
}

@media (max-width: 1100px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .poke-button {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
  .poke-button {
    width: 85%;
  }
  .logo {
    margin-left: 5px;
  }
}
