
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'VT323', monospace;
}

body {
  background-image: linear-gradient(#001d4d, #00008a, #0000b3, #2a00b3, #025ae8 );
}

.navbar-logo {
  font-size: 60px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#search-input {
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-button {
    border-radius: 10px;
    background-color: #cc4c43;
    width: 70%;
    padding: 25px;
    margin-top: 35px;
    font-size: 22px;
    font-weight: 1000;
    text-transform: capitalize;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}

img {
  width: 40%;
}

.modal-content {
  align-items: center;
  text-transform: capitalize;
}

.close {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    margin-left: 5px;
  }
}

@media all and (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
